
.auswahlmoeglichkeit {
    width: 80px;
    height: 25px;
    font-family: PT Serif;
    font-style:normal;
    font-weight:normal;
    font-size: 18px;
    align-items:center;
    background: darkgrey;
    margin-top: 0px;
    }

.squareort{
    height: 50px;
    width: 810px;
    background-color: lightgray;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    margin-left: 300px;

}

.squarezeitraum{
    height: 50px;
    width: 810px;
    background-color: lightgray;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    margin-left: 300px;
}

.squareteilnehmer{
    height: 50px;
    width: 810px;
    background-color: lightgray;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    margin-left: 300px;

}


.allgemeintitle{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    letter-spacing: -0.02em;
    padding-top: 20px;
    padding-left: 3%;

}

.textsquare {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    align-items: left;
    padding: 10px;
}

.sprachen{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.02em;
    height: 25px;
    width: 140px;
    background-color: darkgrey;
    margin-left: 170px;
    margin-top: -43px;

}

.sprachen1{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.02em;
    height: 25px;
    width: 140px;
    background-color: darkgrey;
    margin-left: 345px;
    margin-top: -43px;

}

.sprachen2{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.02em;
    height: 25px;
    width: 140px;
    background-color: darkgrey;
    margin-left: 520px;
    margin-top: -43px;

}

.squaresprache{
    height: 50px;
    width: 810px;
    background-color: lightgray;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: left;
    margin-left: 300px;
    margin-top: -530px;
}