.square00001{
    height: 810px;
    width: 50px;
    background-color: lightgray;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    margin-left: 300px;
    margin-top: -530px;
}

.square00002{
    height: 810px;
    width: 50px;
    background-color: lightgray;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    margin-left: 300px;
    margin-top: -470px;
}

.square00003{
    height: 810px;
    width: 50px;
    background-color: lightgray;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    margin-left: 300px;
    margin-top: -410px;
}

.square00004{
    height: 810px;
    width: 50px;
    background-color: lightgray;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    margin-left: 300px;
    margin-top: -350px;

}


.title{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    padding-top: 20px;
}

.textsquare{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    padding: 10px;

