.einkaufswagen{
  height: 400px;
  width: 250px;
  background-color: lightgray;
  margin-left: 1190px;
  margin-top: -35%;

}

.leer{
  text-align: center;
  margin-top: 10%;
}

.cartitem{
  margin-left: 15px;
  font-size: 12px;
}

.cartitem1{
  margin-left: 15px;
  font-size: 12px;
  margin-top: 10%;
}