.einkaufswagen{
  height: 480px;
  width: 250px;
  background-color: lightgray;
  margin-left: 1190px;
  margin-top: -37.5%;

}

.leer{
  text-align: center;
  margin-top: 10%;
}

.cartitem{
  margin-left: 10px;
  font-size: 12px;

}

.cartitem1{
  margin-left: 10px;
  font-size: 12px;
  margin-top: 8%;
}