.footer{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: -0.02em;
    background-color: black;
    color: rgba(221, 221, 221, 0.5);
    width: 1440px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin-top: 110px;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}
