.squaree0001{
    height: 50px;
    width: 810px;
    background-color: lightgray;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    margin-left: 300px;
    margin-top: -530px;
}

.squaree0002{
    height: 50px;
    width: 810px;
    background-color: lightgray;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    margin-left: 300px;

}

.squaree0003{
    height: 50px;
    width: 810px;
    background-color: lightgray;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    margin-left: 300px;

}

.squaree0004{
    height: 50px;
    width: 810px;
    background-color: lightgray;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    margin-left: 300px;

}


.title{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    padding-top: 20px;
}

.textsquare{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    padding: 10px;

}