.rectangles {
  height: 43px;
  width: 220px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 43px;

  letter-spacing: -0.02em;
  color: #000000;
  text-align: left;
}

.stripee{
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 3%;
}

.configurator{
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: -0.1%;
}

