.sqr01{
      height: 420px;
      width: 250px;
      background-color: lightgray;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: left;
      vertical-align: middle;
    margin-left: 300px;
    margin-top: -545px;

}

.sqr02{
    height: 420px;
      width: 250px;
      background-color: lightgray;
    border-style: solid;
    border-color: #00ADEF;
    border-width: thick;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: left;
      vertical-align: middle;
    margin-left: 585px;
    margin-top: -428px;
}

.sqr03{
    height: 420px;
      width: 250px;
      background-color: lightgray;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: left;
      vertical-align: middle;
    margin-left: 870px;
    margin-top: -440px;

}

.title{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    padding-top: 20px;
}

.textsquare{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    padding: 10px;

}

.minirect{
    margin-top: -30px;
    font-size: 17px;
    margin-left: 25%;

}

.minirect1{
    width: 250px;
    height: 40px;
    background-color: #00ADEF;
    margin-top: -10px;

}

.minirect2{
    margin-top: -30px;
    font-size: 17px;
    margin-left: 25%;

}

.minirect3{
    width: 100px;
    height: 25px;
    background-color: #00ADEF;
    margin-top: -425px;
    margin-left: 150px;
    text-align: left;

}

.texttt{
   margin-top: -29px;
    font-size: 17px;
    margin-left: 10%;
}

.textt{
   margin-top: -29px;
    font-size: 17px;
    margin-left: 20%;
}