.square1{
    height: 180px;
      width: 380px;
      background-color: lightgray;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: center;
      vertical-align: middle;
    margin-left: 300px;
    margin-top: -500px;
}

.square2{
    height: 180px;
      width: 380px;
      background-color: lightgray;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: center;
      vertical-align: middle;
    margin-left: 300px;
    margin-top: 15px;
}

.square3{
    height: 180px;
      width: 380px;
      background-color: lightgray;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: center;
      vertical-align: middle;
    margin-left: 735px;
    margin-top: -395px;
}

.square4{
    height: 180px;
      width: 380px;
      background-color: lightgray;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: center;
      vertical-align: middle;
    margin-left: 735px;
    margin-top: 15px;

}

.title{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    padding-top: 20px;
}

.textsquare{
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
align-items: center;
    padding: 10px;

}