.zielworkshop {
        height:10px;
        width:905px;
        float:left;

        font-size:15px;
        text-align:left;

        margin-left: 300px;
        margin-top: 25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row1 {
        height:10px;
        width:20%;
        float:left;

        font-size:15px;
        text-align:left;

        margin-left: 500px;
        margin-top: -51px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.fokusthema {
        height:10px;
        width:905px;

        font-size:15px;
        text-align:left;

        margin-left: 300px;
        margin-top: 80px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row2 {
        height:10px;
        width:20%;
        float:left;

        font-size:15px;
        text-align:left;

        margin-left: 500px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}



.methodik {
        height:10px;
        width:405px;

        font-size:15px;
        text-align:left;

        margin-left: 300px;
        margin-top: 30px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row3 {
        height:10px;
        width:20%;
        float:left;

        font-size:15px;
        text-align:left;

        margin-left: 500px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.allginfo{
        height:10px;
        width:405px;

        font-size:15px;
        text-align:left;

        margin-left: 300px;
        margin-top: 30px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row4 {
        height:10px;
        width:20%;
        float:left;

        font-size:15px;
        text-align:left;

        margin-left: 500px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.umfang{
        height:10px;
        width:405px;

        font-size:15px;
        text-align:left;

        margin-left: 300px;
        margin-top: -145px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row5 {
        height:10px;
        width:20%;
        float:left;

        font-size:15px;
        text-align:left;

        margin-left: 420px;
        margin-top: -145px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}


.row6 {
        height:10px;
        width:20%;
        float:left;

        font-size:15px;
        text-align:left;

        margin-left: 420px;
        margin-top: -75px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.konfiguration{
        height:10px;
        width:405px;

        font-size:15px;
        text-align:left;

        margin-left: 300px;
        margin-top: 60px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row7 {
        height:10px;
        width:20%;
        float:left;

        font-size:15px;
        text-align:left;

        margin-left: 420px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.zusatzleistungen{
        height:10px;
        width:105px;

        font-size:15px;
        text-align:left;

        margin-left: 300px;
        margin-top: 105px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row8 {
        height:10px;
        width:20%;
        float:left;

        font-size:17px;
        text-align:left;

        margin-left: 500px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: bold;

}

.dauer{
        height:1px;
        width:105px;

        font-size:17px;
        text-align:left;

        margin-left: 380px;
        margin-top: 140px;
        font-weight: bold;
        font-family: PT Serif;
        font-style: normal;


}

.row9 {
        height:5px;
        width:20%;
        float:left;

        font-size:17px;
        text-align:left;

        margin-left: 870px;
        margin-top: -10px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: bold;

}


.preis{
        height:10px;
        width:105px;

        font-size:17px;
        text-align:left;

        margin-left: 800px;
        margin-top: -18px;
        font-weight:bold;
        font-family: PT Serif;
        font-style: normal;


}

.row10 {
        height:10px;
        width:20%;
        float:left;

        font-size:14px;
        text-align:left;

        margin-left: 500px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.cartitemm{
  margin-left: 10px;
  font-size: 14px;
}

.cartitem12{
  margin-left: 10px;
  font-size: 14px;
  margin-top: 19%;
}


.rightside{
        margin-left: 520px;
        margin-top: -100px;
}