.zielworkshop {
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 100px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.fokusthema {
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}


.methodik {
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}
.allginfo{
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}
.umfang{
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}
.grundbausteine{
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.konfiguration{
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.zusatzleistungen{
        height:10px;
        width:105px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.dauer{
        height:10px;
        width:105px;

        font-size:20px;
        text-align:left;

        margin-left: 300px;
        margin-top: 0px;
        font-weight: bold;
        font-family: PT Serif;
        font-style: normal;


}

.preis{
        height:10px;
        width:105px;

        font-size:20px;
        text-align:left;

        margin-left: 300px;
        margin-top: 0px;
        font-weight:bold;
        font-family: PT Serif;
        font-style: normal;


}
