.zielworkshop {
        height:10px;
        width:905px;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 100px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row1 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: -90px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.fokusthema {
        height:10px;
        width:905px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 135px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row2 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}



.methodik {
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 15px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row3 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.allginfo{
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 15px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row4 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.umfang{
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 80px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row5 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.grundbausteine{
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 15px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row6 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.konfiguration{
        height:10px;
        width:405px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 15px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row7 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: -25px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.zusatzleistungen{
        height:10px;
        width:105px;

        font-size:10px;
        text-align:left;

        margin-left: 300px;
        margin-top: 15px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.row8 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}

.dauer{
        height:10px;
        width:105px;

        font-size:20px;
        text-align:left;

        margin-left: 300px;
        margin-top: 30px;
        font-weight: bold;
        font-family: PT Serif;
        font-style: normal;


}

.row9 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: -5px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}


.preis{
        height:10px;
        width:105px;

        font-size:20px;
        text-align:left;

        margin-left: 300px;
        margin-top: 15px;
        font-weight:bold;
        font-family: PT Serif;
        font-style: normal;


}

.row10 {
        height:10px;
        width:50%;
        float:left;

        font-size:10px;
        text-align:left;

        margin-left: 500px;
        margin-top: 0px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;

}
