.sqr1{
      height: 250px;
      width: 250px;
      background-color: lightgray;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: center;
      vertical-align: middle;
    margin-left: 300px;
    margin-top: -500px;

}

.sqr2{
    height: 250px;
      width: 250px;
      background-color: lightgray;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: center;
      vertical-align: middle;
    margin-left: 585px;
    margin-top: -270px;
}

.sqr3{
    height: 250px;
      width: 250px;
      background-color: lightgray;

      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      text-align: center;
      vertical-align: middle;
    margin-left: 870px;
    margin-top: -268px;

}

.pricetag1{
    margin-top: -25px;
    font-size: 14px;
    margin-left: -10%;
}

.zeit{
    margin-top: -25px;
    font-size: 14px;
    margin-left: 55%;
}

.pricediv{
    display: block;
    height: 40px;
    width: 125px;
    margin-top: -7%;
    margin-left: 5%;
}